CREATE TABLE fact_sales (

    sale_id SERIAL PRIMARY KEY,
    invoice_date DATE NOT NULL,
    product_id INTEGER NOT NULL,
    retailer_id INTEGER NOT NULL,
    location_id INTEGER NOT NULL,
    sales_method_id INTEGER NOT NULL,
    price_per_unit NUMERIC(10,2),
    units_sold INTEGER,
    total_sales NUMERIC(12,2),
    operating_profit NUMERIC(12,2),
    operating_margin NUMERIC(5,2),
    year INTEGER,
    month INTEGER,
    day INTEGER

);