-- ==========================================
-- Dimension Table: Products
-- Stores the list of unique Adidas products.
-- ==========================================

CREATE TABLE dim_products (

    product_id SERIAL PRIMARY KEY,
    
    product_name VARCHAR(100) NOT NULL UNIQUE
    
);