-- ==========================================
-- Dimension Table: Retailers
-- Stores the list of unique retailers that
-- sell Adidas products.
-- ==========================================

CREATE TABLE dim_retailers (

    retailer_id SERIAL PRIMARY KEY,

    retailer_name VARCHAR(100) NOT NULL UNIQUE

);