-- ==========================================
-- Dimension Table: Locations
-- Stores unique sales locations.
-- ==========================================

CREATE TABLE dim_locations (

    location_id SERIAL PRIMARY KEY,

    region VARCHAR(50) NOT NULL,

    state VARCHAR(50) NOT NULL,

    city VARCHAR(100) NOT NULL

);