-- ==========================================
-- Dimension Table: Sales Methods
-- Stores the unique sales channels used for
-- Adidas transactions.
-- ==========================================

CREATE TABLE dim_sales_methods (

    sales_method_id SERIAL PRIMARY KEY,

    sales_method VARCHAR(50) NOT NULL UNIQUE

);