-- ==========================================================
-- Project : Retail Sales Analytics Platform
-- File    : 06_relationships.sql
-- Purpose : Defines the foreign key relationships between
--           the fact table and all dimension tables.
-- ==========================================================

ALTER TABLE fact_sales
ADD CONSTRAINT fk_fact_sales_product
FOREIGN KEY (product_id)
REFERENCES dim_products(product_id)
ON UPDATE CASCADE
ON DELETE RESTRICT;

ALTER TABLE fact_sales
ADD CONSTRAINT fk_fact_sales_retailer
FOREIGN KEY (retailer_id)
REFERENCES dim_retailers(retailer_id)
ON UPDATE CASCADE
ON DELETE RESTRICT;

ALTER TABLE fact_sales
ADD CONSTRAINT fk_fact_sales_location
FOREIGN KEY (location_id)
REFERENCES dim_locations(location_id)
ON UPDATE CASCADE
ON DELETE RESTRICT;

ALTER TABLE fact_sales
ADD CONSTRAINT fk_fact_sales_sales_method
FOREIGN KEY (sales_method_id)
REFERENCES dim_sales_methods(sales_method_id)
ON UPDATE CASCADE
ON DELETE RESTRICT;