-- ==========================================================
-- Project : Retail Sales Analytics Platform
-- View    : vw_monthly_sales
-- Purpose : Summarizes monthly sales performance by year and
--           month for reporting and dashboard visualization.
-- ==========================================================

CREATE VIEW vw_monthly_sales AS

SELECT
    year,
    month,
    SUM(total_sales) AS revenue,
    SUM(operating_profit) AS profit,
    SUM(units_sold) AS units_sold
FROM fact_sales
GROUP BY
    year,
    month;