-- ==========================================================
-- Project : Retail Sales Analytics Platform
-- View    : vw_product_performance
-- Purpose : Summarizes sales performance by product,
--           including revenue, profit, and units sold.
-- ==========================================================

CREATE VIEW vw_product_performance AS

SELECT
    p.product_name,
    SUM(f.total_sales) AS revenue,
    SUM(f.operating_profit) AS profit,
    SUM(f.units_sold) AS units_sold
FROM fact_sales f
JOIN dim_products p
ON f.product_id = p.product_id
GROUP BY
    p.product_name;