-- ==========================================================
-- Project : Retail Sales Analytics Platform
-- View    : vw_region_performance
-- Purpose : Summarizes sales performance by region,
--           including revenue, profit, and units sold.
-- ==========================================================

CREATE VIEW vw_region_performance AS

SELECT
    l.region,
    SUM(f.total_sales) AS revenue,
    SUM(f.operating_profit) AS profit,
    SUM(f.units_sold) AS units_sold
FROM fact_sales f
JOIN dim_locations l
ON f.location_id = l.location_id
GROUP BY
    l.region;