-- ==========================================================
-- Project : Retail Sales Analytics Platform
-- View    : vw_retailer_performance
-- Purpose : Summarizes sales performance by retailer,
--           including revenue, profit, and units sold.
-- ==========================================================

CREATE VIEW vw_retailer_performance AS

SELECT
    r.retailer_name,
    SUM(f.total_sales) AS revenue,
    SUM(f.operating_profit) AS profit,
    SUM(f.units_sold) AS units_sold
FROM fact_sales f
JOIN dim_retailers r
ON f.retailer_id = r.retailer_id
GROUP BY
    r.retailer_name;