-- ==========================================================
-- Project : Retail Sales Analytics Platform
-- View    : vw_sales_method_performance
-- Purpose : Summarizes sales performance by sales method,
--           including revenue, profit, and units sold.
-- ==========================================================

CREATE VIEW vw_sales_method_performance AS

SELECT
    sm.sales_method,
    SUM(f.total_sales) AS revenue,
    SUM(f.operating_profit) AS profit,
    SUM(f.units_sold) AS units_sold
FROM fact_sales f
JOIN dim_sales_methods sm
ON f.sales_method_id = sm.sales_method_id
GROUP BY
    sm.sales_method;